@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1E555C;
    color: white;
    font-family: 'Righteous', cursive;
}

.container {
    display: inline-block;
    width: 600px;
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.container h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.label {
    font-size: 30px;
    font-weight: bold;
}

.label i {
    margin: 0 10px;
    cursor: pointer;
}

.time-wrapper {
    width: 40%;
    border: 10px solid #13353A;
    border-radius: 50px;
    margin: 20px auto;
    padding: 20px;
}

div#timer-label {
    font-size: 30px;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
div#time-left {
    font-size: 60px;
    margin: 0;
    font-family: 'Black Ops One', cursive;
}

.time-control i {
    font-size: 30px;
    margin: 0 10px;
}

.author {
    font-size: 13px;
    font-weight: 400;
}

.author p {
    color: rgb(95, 13, 24);
    margin: 0;
    margin-top: 20px;
}

.author span {
    color: rgb(4, 48, 56);
}